<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
    <div id="app">
        This is a test.
        <!--Vue.js domain-->
        <br> {{ message + '1234' }}
        <br>
        <span :title="date">마우스를 가까이 가져오세요.</span>
        <br>
        <span v-if="seen">볼 수 있다.</span>
        <span v-else>볼 수 없다.</span>
        <br> 내가 공부하고 싶은 언어
        <ul>
            <li v-for="todo in todos">{{todo.text}}</li>
        </ul>
        <div class="columns">
            <div class="column is-primary is-large">제목</div>
            <div class="column">2</div>
            <div class="column">3</div>
            <div class="column">4</div>
        </div>
    </div>
    <section class="section">
        <div class="container">
            <h1 class="title is-primary">제목</h1>
            <h2 class="subtitle">중요한 내용 </h2>
        </div>
        <a class="button is-link">button</a>
        <span class="tag is-primary">트위터
            <button class="delete"></button>
        </span>
        <article class="message">
            <div class="message-header">
                <p>Hello Message</p>
                <button class="delete is-primary"></button>
            </div>
            <div class="message-body">
                <span class="content is-5">
                    This is a test of message in Bulma.</span>
            </div>
        </article>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const myApp = new Vue({
            el: '#app',
            data: {
                message: 'Cloud!',
                date: '오늘 날짜: ' + new Date().toLocaleString(),
                seen: true,
                todos: [
                    { text: 'JavaScript' },
                    { text: 'Node.js' },
                    { text: 'Vue.js' },
                    { text: 'Nuxt.js' }
                ]
            }
        });
    </script>
</body>

</html>